<footer class="container-fluid bg-black py-5">
  <div class="container text-white">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6 ">
            <div class="logo-part">
              <img src="https://i.imgur.com/hg1CxCt.png" class="w-50 logo-footer mb-3">
              <p>123 Av. Manjar - Nárnia</p>
              <p>Criamos websites incríveis</p>
            </div>
          </div>
          <div class="col-md-6 px-4 mt-3">
            <h6> Sobre</h6>
            <p>Amamos criar soluções e entregar sites incríveis</p>
            <a href="#" class="btn btn-outline-dark text-white mb-2"> Mais informações </a><br>
            <a href="#" class="btn btn-outline-dark text-white"> Contatos</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <div class="row">
          <div class="col-md-6 px-4">
            <h6> Contatos</h6>
            <p>123 Av. Manjar - Nárnia</p>
            <p>+55 96 2321-3131</p>
            <p>contato@codar.com</p>
          </div>

          <div class="col-md-6">

            <h6> Redes Sociais</h6>
            <div class="social">
              <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
